USE [LabDB]
GO
/****** Object:  Table [dbo].[MEASUREMENT]    Script Date: 31/03/2023 5:37:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENT](
	[MeasurementId] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementName] [varchar](100) NOT NULL,
	[Unit] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEASUREMENTDATA]    Script Date: 31/03/2023 5:37:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEASUREMENTDATA](
	[MeasurementDataId] [int] IDENTITY(1,1) NOT NULL,
	[MeasurementId] [int] NOT NULL,
	[MeasurementTimeStamp] [datetime] NOT NULL,
	[MeasurementValue] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasurementDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MEASUREMENT] ON 

INSERT [dbo].[MEASUREMENT] ([MeasurementId], [MeasurementName], [Unit]) VALUES (1, N'Temporature', N'Celsious')
INSERT [dbo].[MEASUREMENT] ([MeasurementId], [MeasurementName], [Unit]) VALUES (2, N'Humidity', N'%')
INSERT [dbo].[MEASUREMENT] ([MeasurementId], [MeasurementName], [Unit]) VALUES (3, N'Barometric Pressure', N'hPa')
SET IDENTITY_INSERT [dbo].[MEASUREMENT] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MEASUREM__887A89C8BC913771]    Script Date: 31/03/2023 5:37:09 PM ******/
ALTER TABLE [dbo].[MEASUREMENT] ADD UNIQUE NONCLUSTERED 
(
	[MeasurementName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MEASUREMENTDATA]  WITH CHECK ADD FOREIGN KEY([MeasurementId])
REFERENCES [dbo].[MEASUREMENT] ([MeasurementId])
GO
/****** Object:  StoredProcedure [dbo].[SaveMeasurementData]    Script Date: 31/03/2023 5:37:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SaveMeasurementData]
@MeasurementName varchar(100),
@Unit varchar(50),
@MeasurementValue float
AS

DECLARE
@MeasurementId int

if not exists (select * from MEASUREMENT where MeasurementName = @MeasurementName)
	insert into MEASUREMENT (MeasurementName, Unit) values (@MeasurementName, @Unit)

select @MeasurementId = MeasurementId from MEASUREMENT where MeasurementName = @MeasurementName


insert into MEASUREMENTDATA (MeasurementId, MeasurementValue, MeasurementTimeStamp) values (@MeasurementId, @MeasurementValue, getdate())

GO
